.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    max-width: 350px;
}

.login-header {
    display: block;
}

.login-title {
    width: 100%;
    text-align: center;
}

.login-subtitle {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
}

.input-field {
    width: 100%;
}

.login-error {
    font-weight: 600;
    color: red;
    text-align: center;
}

.login-button {
    display: flex;
    justify-content: center;
}