<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <ul class="nav-list">
        <li>
            <a mat-button routerLink="/home/post">Post</a>
        </li>
        <li>
            <a mat-button routerLink="/home/users">Utenti</a>
        </li>
        <li>
            <a mat-button routerLink="/home/new-post">Nuovo post</a>
        </li>
    </ul>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>